@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden !important;
}

body {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 1.6rem;
  overflow-x: hidden !important;
}

.container {
  width: min(85%, 112rem);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
@media (width >= 768px) {
  .header {
    padding-bottom: 0;
  }
}
.header__logo img {
  width: 8rem;
}
.header__button {
  display: block;
  padding: 1.6rem 3.2rem;
  font-weight: 800;
  color: #FFFFFF;
  border: none;
  border-radius: 8rem;
  font-size: 1.8rem;
  white-space: nowrap;
  line-height: 150%;
  background-color: #13183F;
}
@media (width >= 768px) {
  .header__button {
    padding: 1.05rem 2.5rem;
  }
}

.hero {
  margin: 6.4rem auto;
}
@media (width >= 768px) {
  .hero {
    margin-top: 0;
    display: grid;
    grid-template-columns: 32.8rem 1fr;
    align-items: center;
    padding: 6.4rem 0;
    gap: 2.4rem;
  }
}
.hero__info h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 120%;
  color: #13183F;
  margin-bottom: 2.4rem;
}
.hero__info p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  color: #83869A;
  margin-bottom: 4rem;
}
.hero__info button {
  display: block;
  padding: 1.6rem 3.2rem;
  font-weight: 800;
  color: #FFFFFF;
  border: none;
  border-radius: 8rem;
  font-size: 1.8rem;
  white-space: nowrap;
  line-height: 150%;
  background: linear-gradient(#F02AA6, #FF6F48);
}
@media (width >= 768px) {
  .hero__info button {
    padding: 1.05rem 2.5rem;
  }
}
.hero__image {
  padding: 4.2rem 0 0;
  width: 100%;
  margin: 8.8rem auto;
}
@media (width >= 768px) {
  .hero__image {
    overflow: visible;
  }
}
.hero__image picture img {
  width: 100%;
  transform: scale(130%);
  display: block;
}
@media (width >= 768px) {
  .hero__image picture img {
    transform: scale(220%);
    margin-top: -16rem;
    margin-left: 13rem;
  }
}
@media (width >= 1024px) {
  .hero__image picture img {
    transform: scale(120%);
    margin-top: -30rem;
    margin-left: 40%;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6.2rem;
}
@media (width >= 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
}
@media (width >= 1024px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
}
main .card__featured {
  background: linear-gradient(#F02AA6, #FF6F48);
  padding: 3.2rem;
  border-radius: 1.5rem;
  color: #FFFFFF;
}
main .card__item {
  box-shadow: 0 2.5rem 50px rgba(6, 22, 141, 0.1);
  padding: 6.4rem 3.2rem 4rem;
  border-radius: 1.5rem;
  position: relative;
}
main .card__item-icon {
  margin-top: -9rem;
  position: absolute;
}
main .card__item-info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
main .card__item-info h2 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 120%;
  color: #13183F;
}
main .card__item-info p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  color: #83869A;
}
main .card__item-info a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  color: #83869A;
  color: #F74780;
  text-decoration: none;
}

.footer {
  background-color: #13183F;
  margin-top: 8rem;
  padding: 2.4rem 0;
}
@media (width >= 768px) {
  .footer {
    margin-top: 14rem;
  }
}
.footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer div button {
  display: block;
  padding: 1.6rem 3.2rem;
  font-weight: 800;
  color: #FFFFFF;
  border: none;
  border-radius: 8rem;
  font-size: 1.8rem;
  white-space: nowrap;
  line-height: 150%;
  background: linear-gradient(#4851FF, #F02AA6);
}
@media (width >= 768px) {
  .footer div button {
    padding: 1.05rem 2.5rem;
  }
}/*# sourceMappingURL=main.css.map */