@use 'base' as *

.container
    width: min(85%, 112rem)
    margin: 0 auto

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1.6rem 0
    z-index: 99999
    position: relative
    @media (width >= 768px)
        padding-bottom: 0
    &__logo
        img
            width: 8rem
            @media (width >= 1024px)
                width: 11rem
    &__button
        @include button
        background-color: $blue-900

.hero
    margin: 6.4rem auto
    @media (width >= 768px)
        margin-top: 0
        display: grid
        grid-template-columns: 32.8rem 1fr
        align-items: center
        padding: 6.4rem 0
        gap: 2.4rem
    @media (width >= 1024px)
        grid-template-columns: 46rem 1fr
    &__info
        h1
            @include text_preset_1
            margin-bottom: 2.4rem
        p
            @include text_default
            margin-bottom: 4rem
        button
            @include button
            background: $gradient-pink
    &__image
        padding: 4.2rem 0 0
        width: 100%
        margin: 8.8rem auto
        @media (width >= 768px)
            overflow: visible
        picture
            img
                width: 100%
                transform: scale(130%)
                display: block
                @media (width >= 768px)
                    transform: scale(220%)
                    margin-top: -16rem
                    margin-left: 13rem
                @media (width >= 1024px)
                    transform: scale(160%)
                    margin-top: -30rem
                    margin-left: calc( 100% - 50% )

main
    display: grid
    grid-template-columns: 1fr
    gap: 6.2rem
    @media (width >= 768px)
        grid-template-columns: 1fr 1fr
        column-gap: 2.4rem
    @media (width >= 1024px)
        grid-template-columns: 1fr 1fr 1fr
        column-gap: 2.4rem
    .card__featured
        background: $gradient-pink
        padding: 3.2rem
        border-radius: 1.5rem
        color: $white
        @media (width >= 1024px)
            padding: 6.4rem 3.2rem
            h2
                font-size: 3.2rem
    .card__item
        box-shadow: 0 2.5rem 50px rgba($color: #06168D, $alpha: 0.1)
        padding: 6.4rem 3.2rem 4rem
        border-radius: 1.5rem
        position: relative
        &-icon
            margin-top: -9rem
            position: absolute
        &-info
            display: flex
            flex-direction: column
            gap: 2.4rem
            h2
                @include text_preset_4
                @media (width >= 1024px)
                    font-size: 2.4rem
            p
                @include text_preset_5
            a
                @include text_preset_7
                color: $pink-600
                text-decoration: none
                @media (width >= 768px)
                    color: $pink-600

.footer
    background-color: $blue-900
    margin-top: 8rem
    padding: 2.4rem 0
    @media (width >= 768px)
        margin-top: 14rem
    div
        display: flex
        justify-content: space-between
        align-items: center
        a
            img
                width: 8rem
                @media (width >= 1024px)
                    width: 11rem
        button
            @include button
            background: $gradient-purple
