@use 'base' as *

.container
    width: min(85%, 112rem)
    margin: 0 auto

body
    background-color: transparent

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1.6rem 0
    &__logo
        width: 100%
        height: auto
        img
            width: 8rem
    &__button
        @include button

.hero
    margin: 6.4rem 0
    &__info
        h1
            @include text_preset_1
